:root {
    --primary-bg-color: hsla(0, 100%, 50%, 0.302);
    --darker-bg-color: hsla(0, 71%, 37%, 0.302);
    --secondary-bg-color: hsla(0, 0%, 100%, 0);
    --primary-top-margin: 1.5rem;
    --primary-margin: 1.25rem;
    --default-card-shadow: 0 4px 12px hsla(0, 0%, 33%, 1);
}

/* Shared CSS */

/* Colors */

html {
    background-color: var(--primary-bg-color);
}

.site-header__navbar {
    background-color: var(--darker-bg-color);
}

.skiplink {
    background-color: var(--secondary-bg-color);
}

/* Margins */

.main-body__content {
    margin: var(--primary-margin);
}

.main-body__card {
    margin-top: var(--primary-top-margin);
}

/* Individual Styling */

html {
    font-family: "Open Sans", sans-serif;
}

.skiplink {
    display: inline-block;
    color: #555;
    background: #fff;
    padding: .5em;
    position: absolute;
    left: -99999rem;
    z-index: 100;
}

.skiplink:focus {
    left: 0;
}


.site-header__navbar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 14px 20px;
}

.site-header__wrapper {
    display: flex;
    gap: 1rem;
}

.site-header__link {
    color: white;
    text-decoration: none;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

.main-header__image {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    width: 1280px;
    height: 500px;
    border: 1px solid #FCFCFC;
    object-fit: cover;
}

.main-body {
    box-sizing: border-box;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #FCFCFC;
    padding: 48px 48px 64px 48px;
}


.main-body__description {
    width: auto;
    padding: 16px;
    gap: 10px;
    background-color: rgba(235, 235, 235, 1);
}

.main-body__title {
    margin: 0;
    color: #A10000;
    font-size: 28px;
    font-weight: 700;

}

.main-body__heading {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.main-body__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.main-body__list,
.item {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgb(254, 201, 244);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

.main-footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    max-width: 1184px;
    padding-top: 24px;
}


.main-footer__picture {
    width: 580px;
    height: 467px;
    min-width: 300px;
    object-fit: cover;
}

figure {
    margin: 0;
}

.main-body__container {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
    gap: 2rem;
}

.main-body__card,
.main-body__image {
    border-radius: 0.75rem;
}

.main-body__card {
    display: grid;
    justify-items: center;
    max-width: 100%;
    gap: 1.25em;
    box-shadow: var(--default-card-shadow);
}

.main-body__image {
    box-sizing: border-box;
    width: 100%;
}

.main-body__recipe {
    text-align: center;
    margin: 0 0.75em 0 0.75em;
}

.main-body__link {
    order: -1;
}

@media screen and (max-width: 660px) {
    .main-body__container {
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    }
}

@media screen and (max-width: 440px) {

    body {
        width: 100%;
        background-color: #FCFCFC;
    }

    #main-body-container {
        width: 100%;
        gap: 24px;
        max-width: 1280px;
        height: auto;
        background-color: #FCFCFC;
        padding: 48px 16px 64px 16px;
    }

    #picture-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    #description {
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        gap: 10px;
    }

    #header-image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border: 1px #FCFCFC;
    }

    .suggestion-picture {
        width: 100%;
        height: 467px;
        object-fit: cover;
    }

    .main-body__container {
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    }
}