html {
    background-color: #ff00004d;
    font-family: "Open Sans", sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #a41b1b4d;
}

.nav-link {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

body {
    width: 1280px;
    height: auto;
    /* Using auto instead of 1336px to simulate figma hug property but they might be interchangable */
    margin: 0 auto;
}

#main-body-container {
    box-sizing: border-box;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #FCFCFC;
    padding: 48px 48px 64px 48px;
}

/* display: flex is an easier solution but since figma specified grid I'm using display grid (potential better scalability) */
#picture-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 1184px;
    padding-top: 24px;
    /* Height is omitted since it adds unwanted padding at the bottom */
}

#description {
    width: auto;
    /* Avoiding the figma specific 1184px; since it breaks the padding */
    height: auto;
    padding: 16px;
    gap: 10px;
    background-color: rgba(235, 235, 235, 1);
}

h1 {
    margin: 0;
    color: #A10000;
    font-size: 28px;
    font-weight: 700;

}

h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

ul,
ol,
li {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 1px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(254, 201, 244);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

#header-image {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    width: 1280px;
    height: 500px;
    border: 1px solid #FCFCFC;
    object-fit: cover;
}

.suggestion-picture {
    width: 580px;
    height: 467px;
    min-width: 300px;
    object-fit: cover;
}

@media (max-width: 440px) {

    body {
        width: 100%;
        background-color: #FCFCFC;
    }

    #main-body-container {
        width: 100%;
        gap: 24px;
        max-width: 1280px;
        height: auto;
        background-color: #FCFCFC;
        padding: 48px 16px 64px 16px;
    }

    #picture-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    #description {
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        gap: 10px;
    }

    #header-image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border: 1px #FCFCFC;
    }

    .suggestion-picture {
        width: 100%;
        height: 467px;
        object-fit: cover;
    }
}