/*--------------------------/
*    Individual Styling     >
* --------------------------\
*/

/* Main Header */

.main-body__description {
    padding: 16px;
    background-color: rgba(235, 235, 235, 1);
}

/* Main Header */

.main-body__title,
.main-body__heading {
    
}

.main-body__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.main-body__list,
.main-body__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.main-body__list {
    padding-left: 24px;
}

.main-body__nutrients {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 1px;
}

.main-body__caption {
    caption-side: bottom;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    max-width: 1184px;
    padding-top: 24px;
}


.main-footer__picture {
    width: 580px;
    height: 467px;
    min-width: 300px;
    object-fit: cover;
}

figure {
    margin: 0;
}

@media screen and (max-width: 660px) {
    .main-body__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 440px) {

    body {
        width: 100%;
        background-color: #FCFCFC;
    }

    #main-body-container {
        width: 100%;
        gap: 24px;
        max-width: 1280px;
        height: auto;
        background-color: #FCFCFC;
        padding: 48px 16px 64px 16px;
    }

    #picture-container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    #description {
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        gap: 10px;
    }

    #header-image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border: 1px #FCFCFC;
    }

    .suggestion-picture {
        width: 100%;
        height: 467px;
        object-fit: cover;
    }

    .main-body__container {
        grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    }
}