/*--------------------------/
*    Individual Styling     >
* --------------------------\
*/

/* Main Header */

.main-body__description {
    padding: 16px;
    background-color: rgba(235, 235, 235, 1);
}

/* Main Header */

.main-body__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

.main-body__list,
.main-body__item {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.main-body__list {
    padding-left: 24px;
}

.main-body__nutrients {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 1px;
}

.main-body__caption {
    caption-side: bottom;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.main-footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35ch, 1fr));
    gap: 1.25rem;
    max-width: 1184px;
    padding-top: 24px;
}


.main-footer__picture {
    width: 580px;
    height: clamp(300px, 40vw, 467px);
    min-width: 300px;
    object-fit: cover;
}

figure {
    margin: 0;
}

@media screen and (width < 660px) {
    .main-body__container {
        grid-template-columns: 1fr;
    }
}

@media screen and (width < 440px) {

    .main-footer__container {
        grid-template-columns: 1fr;
    }
}