html {
    background-color: #ff00004d;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 1280px;
    height: auto;
    /* Using auto instead of 1336px to simulate figma hug property but they might be interchangable */
    margin: 0 auto;
}

main {
    box-sizing: border-box;
    /* Includes padding inside the max-width */
    gap: 24px;
    width: 1280px;
    max-width: 1280px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #FCFCFC;
    padding: 48px 48px 64px 48px;
}

/* display: flex is an easier solution but since figma specified grid I'm using display grid (potential better scalability) */
section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 1184px;
    padding-top: 24px;
    /* Height is omitted since it adds unwanted padding at the bottom */
}

#description {
    width: auto;
    /* Avoiding the figma specific 1184px; since it breaks the padding */
    height: auto;
    padding: 16px;
    gap: 10px;
    background-color: rgba(235, 235, 235, 1);
}

h1 {
    margin: 0;
    color: #A10000;
    font-size: 28px;
    font-weight: 700;

}

h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
}

ul,
ol,
li {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

#header-image {
    display: block;
    max-width: 100%;
    width: 1280px;
    height: 500px;
    border: 1px solid #FCFCFC;
    object-fit: cover;
}

.suggestion-picture {
    width: 580px;
    height: 467px;
    min-width: 300px;
    object-fit: cover;
}

@media (max-width: 440px) {

    body {
        width: 100%;
        background-color: #FCFCFC;
    }

    main {
        width: 100%;
        gap: 24px;
        max-width: 1280px;
        height: auto;
        background-color: #FCFCFC;
        padding: 48px 16px 64px 16px;
    }

    section {
        width: 100%;
        grid-template-columns: 1fr;
    }

    #description {
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        gap: 10px;
    }

    #header-image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border: 1px #FCFCFC;
    }

    .suggestion-picture {
        width: 100%;
        height: 467px;
        object-fit: cover;
    }
}